.swiper {
  widows: 100%;
  height: 100%;
}

.swiper-pagination {
  left: 0px !important;
  text-align: left !important;
  font-size: 14px;
  z-index: 5 !important;
}

.swiper-button-prev {
  right: auto !important;
  left: 32% !important;  
  top: 95% !important;
  content: url(/prev.svg);
  transform: rotate(180deg);
}

.swiper-button-next {
  right: auto !important;
  left: 47% !important; 
  top: 95% !important; 
  content: url(/prev.svg);
}

@media screen and (min-width: 1024px) {
  .swiper-pagination {
    bottom: 5px !important;
    left: 65% !important;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .swiper-button-prev, .swiper-button-next {
    top: 96% !important;
    right: 20% !important;
    left: auto !important;
  }

  .swiper-button-prev {
    right: 20% !important;
    left: auto !important;
  }

  .swiper-button-next {
    right: 13% !important;
  }
}